body{
 background-color:  #eaeff4;
}

h4 {
  text-align: center;
  grid-column: 2/5;
}

.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.timer {
  grid-column: 1/6;
  margin: 0 auto;
}

.current-task {
  text-align: center;
  height: 70px;
  grid-column: 2/5;
  width: 70%;
  background: #fff;
  margin: 15px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-self: start;
  border-radius: 5px;
  min-height: 4rem;
  padding: 5px 0;
  width: 95%;
  margin: 0 auto;
 }

 .stack-list {
   display: flex;
   flex-direction: column-reverse;
   grid-column: 2/5;
 }

 .heap-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1/6;
  margin-top: 15px;
 }
 
 .heap-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  grid-column: 1/6;
  margin-top: 15px;
 }


 legend {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #00f0c4;
  padding: 5px 15px;
  color: #fff;
  border-radius: 3px;
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid AliceBlue;
  width: 70%;
  line-height: 40px;
  margin: -1px auto;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.stack_item {
  width: 98%;
  line-height: 40px;
  margin: 3px auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.heap_item {
  display: flex;
  width: 20%;
  line-height: 1.8em;
  margin: 3px auto;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  min-width: 290px;
}

label {
  margin: auto;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 15%;
  margin-left: 5px;;
}


.duration-display {
  width: 20px;
}


input[type=range].show-slider {
  width: 80px;
  margin: 0 10px;
  background-color: transparent;
  -webkit-appearance: none;
}

.hide-slider {
  display: none;
}

.stack-input {
  border: 2px solid #00f0c4;
  width: 98%;
  line-height: 40px;
  margin: 5px auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0;
}

.heap-input {
  border: 1px solid #ccc;
  width: 70%;
  line-height: 1.8em;
  margin: 5px auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0;
}

.stack-input::placeholder{
  color: #00f0c4;
  font-size: 1.2rem;
}

.heap-input::placeholder{
  color: #ccc;
  font-size: 1rem;
}

.stack-input:focus {
  outline: none !important;
  border: 2px solid #00f0c4;
  box-shadow: 0 0 3px #719ECE;
}

.remove {
  width: 1.5vw;
  height: 1.5vw;
  min-width: 19px;
  min-height: 19px;
  align-self: center;
  margin-right: 10px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  font-size: 0.8rem;
  justify-self: end
}

.clear-btn {
  display: flex;
  grid-column: 1/2;
  width: 35%;
  margin: 20px auto;
  justify-content: center;
  border: none;
  background-color: #828584;
  padding: 5px 15px;
  color: #fff;
  border-radius: 3px;
}

input[type=range].show-slider:focus {
  outline: none;
}
input[type=range].show-slider::-webkit-slider-runnable-track {
  background: #ced3d9;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 4.3px;
  cursor: pointer;
}
input[type=range].show-slider::-webkit-slider-thumb {
  margin-top: -5.85px;
  width: 16px;
  height: 16px;
  background: #00f0c4;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].show-slider:focus::-webkit-slider-runnable-track {
  background: #ced3d9;
}
input[type=range].show-slider::-moz-range-track {
  background: #ced3d9;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 4.3px;
  cursor: pointer;
}
input[type=range].show-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #00f0c4;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
}
input[type=range].show-slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 6.85px 0;
  color: transparent;
  width: 100%;
  height: 4.3px;
  cursor: pointer;
}
input[type=range].show-slider::-ms-fill-lower {
  background: #ced3d9;
  border: 0;
  border-radius: 50px;
}
input[type=range].show-slider::-ms-fill-upper {
  background: #ced3d9;
  border: 0;
  border-radius: 50px;
}
input[type=range].show-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #00f0c4;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].show-slider:focus::-ms-fill-lower {
  background: #ced3d9;
}
input[type=range].show-slider:focus::-ms-fill-upper {
  background: #ced3d9;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].show-slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
